@charset "utf-8";
/* skipContent */
.skip-content {
	position: absolute;
	top: -60px;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 60px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	letter-spacing: -1.5px;
	line-height: 60px;
	background-color: #0c8fd2;
	transition: .1s ease-in-out;
}
.skip-content:focus,
.skip-content:hover {
	top: 0;
	text-decoration: none;
}
/* wrap */
.wrap {
	position: relative;
	min-width: 1300px;
}
.inner {
	margin: 0 auto;
	padding: 0 20px;
}
.inner::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	min-height: calc(100vh - 160px);
	background-color: #f6f6f6;
}
/* container */
.container:not(.main-page) {
	padding: 30px 20px 30px 30px;
	background-color: #f6f6f6;
}

/* sub-page content */
.container:not(.main-page) .content {
	min-width: 940px;
	max-width: 100%;
	padding: 20px;
	background-color: #fff;
	box-shadow: 1px 3px 10px 0 #cbcbcb;
}
/* footer */
.footer {
	padding: 15px 0;
	background-color: #ddd;
}
.footer p {
	color: #000;
	font-size: 14px;
}
.footer-link {
	position: relative;
}
.footer-link .button-link {
	width: 190px;
	padding: 0 16px 0 21px;
	border-radius: 25px;
	color: #898989;
	font-size: 14px;
	text-align: left;
	line-height: 32px;
	background-color: #efefef;
}
.footer-link ul {
	display: none;
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	border-radius: 15px;
	background-color: #efefef;
}
.footer-link li a {
	display: block;
	padding: 10px 15px;
	color: #898989;
	font-size: 14px;
}
/* row */
.row::after {
	content: "";
	display: table;
	clear: both;
}
.row.type-between {
	justify-content: space-between;
}
.row .left {
	float: left;
}
.row .right {
	float: right;
}
/* switch-box */
.switch-box {
	display: table;
	width: 100%;
}
.switch-box > * {
	display: table-cell;
}
.switch-box .switch-left {
	width: 250px;
}
.switch-box .switch-center {
	position: relative;
	vertical-align: middle;
	width: 68px;
	padding: 0 14px;
}
.switch-box .button-group .button {
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px 0;
	border: 1px solid #eee;
	background: url(../../images/common/icon-switch-arrow.png) no-repeat center;
}
.switch-box .button-group .button-left {
	transform: rotate(-180deg);
}
.switch-table th,
.switch-table td {
	vertical-align: middle;
	height: 50px;
	padding: 8px 4px;
	border-bottom: 1px solid #eee;
	font-size: 13px;
	text-align: center;
}
/* search-group-box */
.search-group-box {
	padding: 20px;
	background-color: #ececec;
}
.search-group-box table {
	table-layout: fixed;
}
.search-group-box th,
.search-group-box td {
	padding: 3px;
	font-size: 14px;
}
/* switch-box */
.switch-box {
	position: relative;
}
.switch-box::after {
	content: "";
	display: table;
	clear: both;
}
.switch-box .switch-left {
	float: left;
	width: 250px;
}
/*.switch-box .button-group {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}*/
.switch-box .button-group .button {
	width: 40px;
	height: 40px;
	border: 1px solid #eee;
	background: url(../../images/common/icon-switch-arrow.png) no-repeat center;
}
.switch-box .button-group .button-left {
	transform: rotate(-180deg);
}
.switch-box .switch-right {
	float: right;
	width: 536px;
}
.switch-table th,
.switch-table td {
	vertical-align: middle;
	height: 50px;
	padding: 8px 4px;
	border-bottom: 1px solid #eee;
	font-size: 13px;
	text-align: center;
}
/* search-group-box */
.search-group-box {
	padding: 20px;
	background-color: #ececec;
}
.search-group-box table {
	table-layout: fixed;
}
.search-group-box th,
.search-group-box td {
	padding: 3px;
	font-size: 14px;
}
/* tree */
.tree {
	overflow-y: auto;
	height: 370px;
	padding: 10px;
	border: 1px solid #ddd;
}
.tree > .treejs > .treejs-nodes {
	padding-left: 0;
}
.tree > .treejs > .treejs-nodes::before {
	display: none;
}
.tree .treejs-nodes {
	position: relative;
}
/*.tree .treejs-nodes::before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 10px;
	width: 1px;
	background-color: #1890ff;
	opacity: .4;
}
*/
.tree .treejs-node {
	position: relative;
	padding: 4px 0;
}

/* col-group */
.col-group {
	position: relative;
}
.col-group::after {
	content: "";
	display: table;
	clear: both;
}
.col-group .heading.depth02 {
	min-height: 34px;
	line-height: 34px;
}
.col.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.col.center .button {
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px 0;
	border: 1px solid #eee;
	background: url(../../images/common/icon-switch-arrow.png) no-repeat center;
}
.col.center .button-left {
	transform: rotate(-180deg);
}

/* window-pop */
.window-pop {
	padding: 20px;
}
.window-pop .search-group-box {
	padding: 10px;
}
