@charset "utf-8";

/* skipContent */
.skip-content {
	position: absolute;
	top: -60px;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 60px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	letter-spacing: -1.5px;
	line-height: 60px;
	background-color: #0c8fd2;
	transition: .1s ease-in-out;
}

.skip-content:focus,
.skip-content:hover {
	top: 0;
	text-decoration: none;
}

/* wrap */
.wrap {
	display: flex;
	position: relative;
	flex-direction: column;
	min-width: 1300px;
}

.inner {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
}

/* header */
.header {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #fff;
}

.header .header-top .inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #fff;
}

.header .header-top .right {
	display: flex;

	gap: 10px;
}

.header .header-top .user-info {
	display: flex;
	align-items: center;
}

.header .header-top li {
	color: #000;
	font-size: 14px;
}

.header .header-top .bar:before {
	height: 12px;
	background-color: #000;
}

.header .search {
	display: flex;
	justify-content: space-around;
	padding: 2px 10px;
	border-radius: 10px;
	background-color: #efefef;

	gap: 5px;
}

.header .search input {
	margin: 0;
	border: 0;
	font-size: 14px;
	background-color: #efefef;
}

.header .search button {
	width: 20px;
}

.header .search .icon-search {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../../images/common/icon-search.png") no-repeat 0 0;
}

/* nav */
.nav {
	background-color: #0c8fd2;
}

.nav .inner > ul {
	display: flex;
	justify-content: space-around;
}
.nav li {
	position: relative;
}

.nav li a {
	display: block;
	height: 44px;
	padding: 12px 10px;
	color: #fff;
	white-space: nowrap;
}
.depth {
	position: absolute;
	width: 100%;
}

/* container */
.container {
	min-height: calc(100vh - 160px);
	background-color: #f6f6f6;
}

/* footer */
.footer {
	padding: 15px 0;
	background-color: #ddd;
}

.footer .inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer p {
	color: #000;
	font-size: 14px;
}

.footer-link {
	position: relative;
}

.footer-link button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 190px;
	padding: 0 16px 0 21px;
	border-radius: 25px;
	color: #898989;
	font-size: 14px;
	text-align: left;
	line-height: 32px;
	background-color: #efefef;
}

.footer-link ul {
	display: none;
	position: absolute;
	bottom: 32px;
	left: 0;
	width: 100%;
	background-color: #efefef;
}

.footer-link li a {
	display: block;
	padding: 5px 16px 5px 21px;
	color: #898989;
	font-size: 14px;
}

.sub-page {
	display: flex;
	padding: 0;
	background-color: #f6f6f6;
}

/* lnb */
.lnb {
	width: 300px;
	background-color: #fff;
}

.lnb .lnb-depth01 > ul {
	border-bottom: 1px solid #ddd;
}

.lnb .lnb-depth01 > ul > li {
	position: relative;
	border-color: #ddd;
}

.lnb .lnb-depth01 > ul > li::after {
	content: "";
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background-color: #0c8fd2;
}

.lnb .lnb-depth01 > ul > .active::after {
	display: block;
}

.lnb .lnb-depth01 .accordion-name .name {
	color: #3c4043;
	font-size: 18px;
}

.lnb .lnb-depth01 .accordion-content {
	padding: 0 0 0 35px;
	border-left: 3px solid #0c8fd2;
	background-color: #fff;
}

.lnb .lnb-depth02 > ul > li {
	border-top: 0;
}

.lnb .lnb-depth02 .accordion-content {
	margin: 10px 0 10px 30px;
	padding: 5px 10px;
	border-left: 2px solid #aad8ef;
}

.lnb .lnb-depth02 .accordion-name {
	position: relative;
	height: 33px;
	padding-left: 13px;
}

.lnb .lnb-depth02 .accordion-name.active::after {
	background-color: #0c8fd2;
}

.lnb .lnb-depth02 .accordion-name::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 3px;
	height: 3px;
	background-color: #ddd;
	transform: translateY(-50%);
}

.lnb .lnb-depth02 .accordion-name .name {
	font-size: 16px;
	font-weight: 400;
}

.lnb .lnb-depth02 .active .name {
	color: #0c8fd2;
}

.lnb .lnb-depth03 li ~ li {
	margin-top: 10px;
}

.lnb .lnb-depth03 .active {
	color: #0c8fd2;
}

/* sub-page content */
.sub-page .content {
	flex: 1;
	margin: 30px 0 30px 30px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 1px 3px 10px 0 #cbcbcb;
}
