@charset "utf-8";

/* skipContent */
.skip-content {
	position: absolute;
	top: -60px;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 60px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	letter-spacing: -1.5px;
	line-height: 60px;
	background-color: #0c8fd2;
	transition: .1s ease-in-out;
}

.skip-content:focus,
.skip-content:hover {
	top: 0;
	text-decoration: none;
}

/* wrap */
.wrap {
	display: flex;
	position: relative;
	flex-direction: column;
}

.inner {
	min-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header */
.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
	background-color: #fff;
}

.header-top .right {
	display: flex;

	gap: 10px;
}

.header-top .user-info {
	display: flex;
	align-items: center;
}

.header-top li {
	color: #000;
	font-size: 14px;
}

.header-top .bar:before {
	height: 12px;
	background-color: #000;
}

.header .search {
	display: flex;
	justify-content: space-around;
	padding: 2px 10px;
	border-radius: 10px;
	background-color: #efefef;

	gap: 5px;
}

.header .search input {
	margin: 0;
	border: 0;
	font-size: 14px;
	background-color: #efefef;
}

.header .search button {
	width: 20px;
}

.header .search .icon-search {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../../images/common/icon-search.png) no-repeat 0 0;
}

/* nav */
.header .inner .nav {
	margin: 0 -10px;
	padding: 0 10px;
}

.nav {
	background-color: #0c8fd2;
}

.nav ul {
	display: flex;
	justify-content: space-around;
}

.nav li a {
	display: block;
	padding: 12px 10px;
	color: #fff;
	white-space: nowrap;
}

/* container */
.container {
	min-height: calc(100vh - 152px);
	padding-bottom: 96px;
	background-color: #f8fcfe;
}

/* footer */
.footer {
	padding: 15px 0;
	background-color: #ddd;
}

.footer .inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer p {
	color: #000;
	font-size: 14px;
}

.footer-link {
	position: relative;
}

.footer-link button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 190px;
	padding: 0 16px 0 21px;
	border-radius: 25px;
	color: #898989;
	font-size: 14px;
	text-align: left;
	line-height: 32px;
	background-color: #efefef;
}

.footer-link ul {
	display: none;
	position: absolute;
	bottom: 32px;
	left: 0;
	width: 100%;
	background-color: #efefef;
}

.footer-link li a {
	display: block;
	padding: 5px 16px 5px 21px;
	color: #898989;
	font-size: 14px;
}

.sub-page {
	display: flex;
	padding: 0;
	background-color: #f6f6f6;
}

.sub-page .lnb {
	width: 300px;
	height: 100vh;
	background-color: #fff;
}

.sub-page .lnb .accordion .icon-menu {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
}

.sub-page .lnb .accordion .icon-menu::before {
	content: "";
	flex: 1;
	height: 1px;
	background-color: #ccc;
}

.sub-page .lnb .accordion .icon-menu::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #ccc;
	transition: .2s;
	opacity: 1;
}

.sub-page .lnb .accordion .active .icon-menu::after {
	opacity: 0;
}

.sub-page .lnb-depth01>ul {
	border-bottom: 1px solid #ccc;
}

.sub-page .lnb-depth01 .accordion-content {
	padding: 0 0 0 25px;
	border-left: 3px solid #0c8fd2;
	background-color: #fff;
}

.sub-page .lnb .lnb-depth02>ul>li {
	border-top: 0;
}

.sub-page .lnb-depth02 .accordion-content {
	margin: 10px 0 10px 30px;
	padding: 5px 10px;
	border-left: 2px solid #d5ecf7;
}

.sub-page .lnb-depth02 .active {
	color: #0c8fd2;
}

.sub-page .lnb-depth03 li~li {
	margin-top: 10px;
}

.sub-page .content {
	flex: 1;
	margin: 30px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 1px 3px 10px 0px #cbcbcb;
}