@charset "utf-8";
/* lnb */
.wrap-lnb {
	overflow-y: auto;
	width: 320px;
	min-height: 100vh;
	padding-left: 20px;
	background-color: #f6f6f6;
}
.lnb {
	width: 300px;
	height: 100vh;
	background-color: #fff;
}
.lnb .title_wrap {
	height: 60px;
	border-bottom: 2px solid #0c8fd2;
	text-align: center;
	line-height: 60px;
	background-image: url(../../images/common/sub-2dep-title.png);
	background-size: cover;
}
.lnb .title_wrap > h2 {
	color: #0c8fd2;
	font-size: 20px;
	font-weight: bold;
}
.lnb .lnb-depth01 > ul {
	border-bottom: 1px solid #ddd;
}
.lnb .lnb-depth01 > ul > li {
	position: relative;
	border-color: #ddd;
}
.lnb .lnb-depth01 > ul > li::after {
	content: "";
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background-color: #0c8fd2;
}
.lnb .lnb-depth01 > ul > .active::after {
	display: block;
}
.lnb .lnb-depth01 .accordion-name .name {
	color: #3c4043;
	font-size: 18px;
}
.lnb .lnb-depth01 .accordion-content {
	padding: 0 0 0 35px;
	border-left: 3px solid #0c8fd2;
	background-color: #fff;
}
.lnb .lnb-depth02 > ul > li {
	border-top: 0;
}
.lnb .lnb-depth02 .accordion-content {
	margin: 10px 0 10px 30px;
	padding: 5px 10px;
	border-left: 2px solid #aad8ef;
}
.lnb .lnb-depth02 .accordion-name {
	display: inline-block;
	position: relative;
	height: 33px;
	padding-left: 13px;
	line-height: 33px;
}
.lnb .lnb-depth02 .accordion-name.active::after {
	background-color: #0c8fd2;
}
.lnb .lnb-depth02 .accordion-name::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 3px;
	height: 3px;
	background-color: #ddd;
	transform: translateY(-50%);
}
.lnb .lnb-depth02 .accordion-name .name {
	font-size: 16px;
	font-weight: 400;
}
.lnb .lnb-depth02 .active .name {
	color: #0c8fd2;
}
.lnb .lnb-depth03 li ~ li {
	margin-top: 10px;
}
.lnb .lnb-depth03 .active {
	color: #0c8fd2;
}
