@charset "utf-8";

/* main */
.main {
	display: flex;
	justify-content: space-between;
	padding-top: 17px;

	gap: 15px;
}
/* section */
.section.left,
.section.right {
	flex-basis: 230px;
	flex-shrink: 0;
}
.section.center {
	flex: 1;
}
.section-box {
	margin-bottom: 15px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	box-shadow: 6px 6px 15px 5px rgba(137,137,137,.16);
}
.section-box .heading {
	margin-bottom: 0;
}
.section-box .depth02 {
	height: 40px;
	padding: 10px 12px;
}
.section-box .depth02 .title:before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 16px;
	margin: 0 5px -2px 0;
	background-color: #0c8fd2;
}
.section-box .sub {
	padding: 13px 10px;
	border-top: 1px solid #0c8fd2;
}
.section-box .tab-wrap .button-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}
.section-box .tab-content-inner {
	padding-top: 8px;
}
/* section-user (회원정보) */
.section-user .profile {
	overflow: hidden;
	width: 59px;
	height: 59px;
	margin: 20px auto 6px;
	border-radius: 50%;
}
.section-user .info {
	text-align: center;
}
.section-user .info em {
	font-size: 14px;
}
.section-user .info .bar:before {
	margin: 0 4px;
	background-color: #0c8fd2;
}
.section-user .name {
	vertical-align: top;
	margin: 8px 0 15px;
	font-size: 20px;
	font-weight: 700;
}
.section-user .work-list {
	display: flex;
	flex-direction: column;

	gap: 5px;
}
.section-user .work-list a {
	display: flex;
	justify-content: space-between;
}
.section-user .icon-user {
	margin-right: 5px;
}
.section-user .work-list .badge {
	font-weight: 700;
	line-height: 20px;
}
.section-user .name span {
	vertical-align: top;
	margin-left: 3px;
	font-size: 14px;
}

/* section-sch (통합일정) */
.sch-list {
	display: flex;
	flex-direction: column;
	padding: 10px 0 ;
	background-color: #f4f4f4;

	gap: 10px;
}
.sch-list li {
	position: relative;
	padding: 0 10px 0 20px;
}
.sch-list li a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sch-list li:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 9px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #0c8fd2;
}
.sch-list .name {
	display: block;
	margin-bottom: -3px;
}
.sch-list .badge {
	font-size: 12px;
}
.sch-list .date {
	display: inline-block;
	color: #898989;
	font-size: 12px;
}
/* link-menu */
.link-menu {
	display: flex;
	align-items: center;
	padding: 5px 10px 6px;

	gap: 15px;
}

/* section-banner */
.section-banner {
	border: 0;
	box-shadow: none;
}
.section-banner a {
	display: inline-block;
	text-align: center;
}
/* icon */
[class*=icon-main] {
	width: 41px;
	height: 41px;
	background-image: url(../../images/main/icon-m01.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.icon-main02 {
	background-image: url(../../images/main/icon-m02.png);
}
.icon-main03 {
	background-image: url(../../images/main/icon-m03.png);
}
.icon-main04 {
	background-image: url(../../images/main/icon-m04.png);
}
.icon-main05 {
	background-image: url(../../images/main/icon-m05.png);
}
.icon-main06 {
	background-image: url(../../images/main/icon-m06.png);
}
.icon-main07 {
	background-image: url(../../images/main/icon-m07.png);
}
.icon-main08 {
	background-image: url(../../images/main/icon-m08.png);
}
/* table-notice */
.table-notice table {
	border: 0;
}
.table-notice thead {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	border: none;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}
.table-notice td {
	height: 30px;
	padding: 0;
	border: 0;
	color: #898989;
	font-size: 14px;
}
.table-notice td:first-child {
	text-align: left;
}
.table-notice td:last-child {
	text-align: right;
}
.table-notice td a {
	display: block;
	overflow: hidden;
	width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table-notice td a:hover {
	color: #000;
}
