@charset "utf-8";
/* firefox scroll */
html {
	scrollbar-width: thin;
	scrollbar-color: #ccc rgba(240, 240, 240, .5);
}
/* 스크롤 바 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
/* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-track {
	background-color: rgba(240, 240, 240, .5);
}
/* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ccc;
}
/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:hover {
	background: #404040;
}
/* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-thumb:active {
	background: #333;
}
/* 스크롤 바 상 하단 버튼 */
::-webkit-scrollbar-button {
	display: none;
}
