@charset "utf-8";
/* accordion */
.accordion > ul > li:first-child {
	border-top: 0;
}
.accordion > ul > li {
	border-top: 1px solid #ddd;
}
.accordion .accordion-name {
	position: relative;
	height: 50px;
	padding: 0 50px 0 20px;
	text-align: left;
	line-height: 50px;
}
.accordion .accordion-name .name {
	font-weight: 700;
}
.accordion .icon-menu {
	position: absolute;
	top: 50%;
	right: 18px;
	width: 15px;
	height: 15px;
	transform: translateY(-50%);
}
.accordion .icon-menu::before,
.accordion .icon-menu::after {
	content: "";
	position: absolute;
	background-color: #ddd;
}
.accordion .icon-menu::before {
	top: 7px;
	width: 15px;
	height: 1px;
	background-color: #ddd;
}
.accordion .icon-menu::after {
	position: absolute;
	left: 7px;
	width: 1px;
	height: 15px;
	transition: .2s;
	opacity: 1;
}
.accordion .active .icon-menu::after {
	opacity: 0;
}
.accordion .active .icon-menu::before,
.accordion .active .icon-menu::after {
	background-color: #0b8fd0;
}
.accordion .accordion-content {
	display: none;
	position: relative;
	padding: 24px 21px;
	background-color: #ddd;
}
.accordion-name {
	width: 100%;
}
.accordion-name .list-item {
	min-width: 100%;
}
/* type-faq */
.accordion.type-faq {
	border-bottom: 1px solid #ddd;
}
.accordion.type-faq .accordion-name {
	height: auto;
	padding: 21px;

	gap: 5px;
}
.accordion.type-faq .name {
	font-weight: 400;
	text-align: left;
}
.accordion.type-faq .ask {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: #fff;
	font-weight: 500;
	line-height: 24px;
	background-color: #333;
}
.accordion.type-faq .accordion-content {
	border-width: 1px 0;
	border-style: solid;
	border-color: #eee;
}
.accordion.type-faq .fix .name {
	font-weight: 700;
}
.accordion.type-faq .fix .ask {
	background-color: red;
}
/* type-tree */
.accordion.type-tree ul li {
	border-top: 1px solid #eee;
}
.accordion.type-tree .accordion-content {
	background-color: #fff;
}
.accordion.type-tree .check-list li {
	height: 30px;
	padding-left: 45px;
	font-size: 13px;
	line-height: 30px;
}
.accordion.tree-depth01 .accordion-name {
	position: relative;
	height: 40px;
	padding-left: 14px;
	font-size: 14px;
	background-color: #f4fafd;
}
.accordion.tree-depth01 .accordion-name::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2px;
	background-color: #0b8fd0;
	transition: .2s;
	opacity: 0;
}
.accordion.tree-depth01 .accordion-name.active::before {
	opacity: 1;
}
.accordion.tree-depth01 .accordion-content {
	padding: 0;
}
.accordion.tree-depth02 .accordion-name {
	height: 35px;
	padding-left: 30px;
	font-size: 13px;
	line-height: 35px;
	background-color: #fff;
}
.accordion.tree-depth02 .accordion-name::before {
	display: none;
}
.accordion.tree-depth02 .accordion-content {
	/*padding: 0 0 10px;*/
}
