@charset "utf-8";

.badge-wrap:first-child {
	margin-top: 0;
}
.badge-wrap:last-child {
	margin-bottom: 0;
}
.badge-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 12px 0;

	gap: 4px;
}
.badge {
	display: inline-flex;
	overflow: hidden;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	height: 28px;
	padding: 0 6px;
	border-radius: 3px;
	line-height: normal;

	gap: 3px;
}

/* badge-size */
.badge-size-small {
	height: 20px;
	padding: 0 6px;
}
.badge-size-lage {
	height: 32px;
	padding: 0 10px;
	font-weight: 500;
}

/* badge-bg */
[class*=badge-bg] {
	color: #fff;
}
.badge-bg01 {
	background-color: #333;
}

/* badge-line */
.badge-line01 {
	border: 1px solid #333;
	color: #333;
	background-color: #fff;
}
