@charset "utf-8";
.badge-wrap:first-child {
	margin-top: 0;
}
.badge-wrap:last-child {
	margin-bottom: 0;
}
.badge-wrap {
	margin: 12px 0;
}
.badge {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	min-width: 21px;
	height: 21px;
	margin: 0 2px;
	padding: 0 5px;
	border-radius: 10px;
	line-height: 21px;
}
/* badge-size */
.badge-size-small {
	height: 20px;
	padding: 0 6px;
	line-height: 20px;
}
.badge-size-lage {
	height: 32px;
	padding: 0 10px;
	font-weight: 500;
	line-height: 32px;
}
/* badge-bg */
[class*=badge-bg] {
	color: #fff;
}
.badge-bg01 {
	background-color: #0c8fd2;
}
/* badge-line */
.badge-line01 {
	border: 1px solid #333;
	color: #333;
	background-color: #fff;
}
