@charset "utf-8";
/* board-head */
.board-head {
	margin-bottom: 10px;
}
.board-head::after {
	content: "";
	display: table;
	clear: both;
}
.board-head .total {
	color: #333;
}
.board-head .total .val {
	color: #333;
	font-weight: 700;
}
.board-head .right {
	float: right;
}
.board-head .item {
	height: 36px;
}
/* board-view */
.board-view .view-top {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.board-view .title {
	color: #333;
	font-weight: 700;
}
.board-view .utility {
	margin-top: 20px;
}
.board-view .view-body {
	padding: 20px 0;
}
.board-view .view-body img {
	max-height: none;
}
