@charset "utf-8";

/* box */
.heading + .box,
.box:first-child {
	margin-top: 0;
}
.box:last-child {
	margin-bottom: 0;
}
.box {
	margin: 20px 0;
	padding: 20px;
	border-radius: 5px;
}
.box.bg01 {
	background-color: #eee;
}
.box-size-small {
	padding: 12px;
}
.box .title:first-child {
	margin-top: 0;
}
.box .title {
	display: flex;
	align-items: center;
	margin: 20px 0 6px;
	font-weight: 700;

	gap: 6px;
}
.box .sub-title {
	display: flex;
	align-items: center;
	margin: 8px 0 0;
	font-weight: 500;
}
.box .desc {
	margin-top: 6px;
}
.box .terms-list:first-child {
	margin-top: 0;
}
.box .terms-list:last-child {
	margin-bottom: 0;
}
.box .terms-list {
	display: flex;
	flex-direction: column;
	margin: 6px 0;

	gap: 4px;
}
.box .terms-list .terms-list {
	margin: 6px 0;
	padding-left: 12px;
}
.box .bullet {
	margin: 4px 0;

	gap: 4px 0;
}
.box .bullet .bullet {
	margin: 0;
}
