@charset "utf-8";
.button {
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	max-width: 100%;
	height: 34px;
	padding: 0 13px;
	font-size: 13px;
	text-align: center;
	white-space: nowrap;
	line-height: 34px;
	background-color: #fff;
	cursor: pointer;
	-webkit-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	gap: 0 4px;
}
/* button bg */
[class*=button-bg] {
	border: none;
	color: #fff;
}
[class*=button-bg]:disabled {
	background-color: #ccc;
}
.button-bg01 {
	background-color: #0c8fd3;
}
/* button border */
[class*=button-border]:disabled {
	border: 1px solid #ddd;
	color: #ddd;
}
.button-border01 {
	border: 1px solid #0c8fd3;
	color: #0c8fd3;
}
.button-border02 {
	border: 1px solid #ddd;
	color: #ddd;
}
/* button size */
.button-size-lage {
	height: 40px;
	font-weight: 400;
	line-height: 40px;
}
.button-size-xsmall {
	min-width: 56px;
	height: 32px;
	font-weight: 400;
	line-height: 32px;
}
.button-size-xsmall.underline {
	min-width: auto;
	padding: 0 4px;
}
.button-size-xxsmall {
	height: 20px;
	padding: 0 7px;
	font-weight: 400;
	line-height: 20px;
}
.button-size-full {
	min-width: 100%;
}
/* button-wrap */
.button-wrap:first-child {
	margin-top: 0;
}
.button-wrap {
	margin-top: 20px;
	text-align: center;
}
.button-wrap .button {
	min-width: 85px;
	margin: 0 5px;
}
/* overlap */
.button-wrap.overlap {
	overflow: hidden;
	border-radius: 5px;

	gap: 0;
}
.button-wrap.overlap .button {
	border-radius: 0;
}
.button-wrap.overlap .button ~ .button::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background-color: rgba(255, 255, 255, .1);
}
/* button-wrap column */
.button-wrap.column .button {
	width: 100%;
}
/* button fixed */
.button-wrap.fixed {
	box-sizing: content-box;
	height: 50px;
}
.button-wrap.fixed .fixed-item {
	position: fixed;
	bottom: 83px;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
}
/* button-wrap type 별 간격 */
.button-wrap.type-page {
	margin-top: 50px;
}
.button-wrap.type-circle {
	margin: 0;
}
/* button etc */
.button-toggle {
	border: 1px solid #ddd;
}
.button-toggle.active {
	border: 1px solid #333;
}
.button-text {
	font-weight: 500;
}
.button-circle {
	overflow: hidden;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 2px 12px rgba(0, 0, 0, .13);
}
.button-circle.button-circle-size-small {
	width: 32px;
	height: 32px;
}
.button-filter {
	height: 32px;
	padding: 0 4px;
	border: 1px solid #ddd;
	border-radius: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: normal;
	transition: .2s;
}
.button-filter.active {
	border: 1px solid #333;
	color: #fff;
	background: #333;
}
.button-filter .text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* button-icon */
.button-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
	padding: 0 1px;
}
.button-icon.button-border02 {
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
}
