@charset "utf-8";

/* datepicker */
.ui-datepicker {
	z-index: 150 !important;
	padding: 0 9px 9px;
	border-top-right-radius: 0;
}
.ui-widget.ui-widget-content {
	border-color: #35466a;
	background-color: #f4f4f4;
}
.ui-datepicker .ui-datepicker-header {
	width: 140px;
	margin: 5px auto;
	padding: 5px;
	border: 0;
	background-color: #fff;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 25px;
	color: #000;
	text-align: center;
	line-height: auto;
}
.ui-datepicker .ui-datepicker-title select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: auto;
	height: 25px;
	margin: 0 5px;
	border: 0;
	color: #000;
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: none;
}


.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 50%;
	width: 8px;
	height: 16px;
	margin-top: -8px;
	border: none;
	background: url("../../images/common/icon-calender.png") no-repeat 0 0;
}
.ui-datepicker .ui-datepicker-prev {
	left: 8px;
	transform: rotate(180deg);
}
.ui-datepicker .ui-datepicker-next {
	right: 8px;
}
.ui-datepicker table {
	margin-bottom: 0;
	font-size: 16px;
}
.ui-datepicker th {
	padding: 0 3px;
}
.ui-datepicker td {
	vertical-align: middle;
	height: 30px;
	padding: 0;
}
.ui-datepicker td a {
	display: block;
	width: 30px;
	line-height: 28px;
}
.ui-datepicker .ui-datepicker-calendar td span,
.ui-datepicker .ui-datepicker-calendar td a {
	border-color: #fff;
	color: #666;
	background-color: #fff;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-active {
	color: #35466a;
	background-color: #ccc;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-highlight {
	color: #009688;
}
/* 토요일은 파란색, 일요일은 빨간색  */
.ui-datepicker-week-end:first-child,
.ui-datepicker-calendar tbody td:first-child a {
	color: red;
}
.ui-datepicker-week-end:last-child,
.ui-datepicker-calendar tbody td:last-child a {
	color: inherit;
}

.ui-datepicker .ui-datepicker-calendar td span,
.ui-datepicker .ui-datepicker-calendar td a {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.ui-datepicker .ui-datepicker-calendar td span {
	color: #898989;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-highlight {
	position: relative;
	color: #0c8fd2;
}

.ui-datepicker .ui-datepicker-calendar td .ui-state-active {
	border-radius: 50%;
	color: #fff;
	font-weight: 700;
	background-color: #333;
}
.ui-datepicker .ui-datepicker-calendar td .ui-state-active:after {
	display: none;
}
.ui-widget.ui-widget-content {
	margin-bottom: 25px;
	border: none;
	border: 1px solid #ddd;
	background-color: #fff;
}
/* calendar */
.calendar .ui-widget.ui-widget-content {
	width: auto;
	padding: 0;
}
.calendar .ui-datepicker .ui-datepicker-header {
	width: 130px;
	margin: 17px auto 15px;
}
.calendar .ui-widget.ui-widget-content {
	border: 0;
}
