@charset "utf-8";
/* dialog */
.dialog-wrap {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	flex-wrap: wrap;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
}
.dialog-wrap[data-dimmed="none"] {
	background-color: transparent;
}
.dialog-wrap[data-dimmed="none"] .dialog {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.dialog {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	flex-direction: column;
	width: 900px;
	margin: auto;
	background-color: #fff;
	transform: translate(-50%, -50%);
}
.dialog[data-align="center"] {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}
.dialog .close {
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 5;
	width: 20px;
	height: 20px;
	background: url("../../images/common/icon-close.png") no-repeat center / 20px;
}
.dialog .button-wrap:first-child {
	margin-top: 0;
}
.dialog .button-wrap {
	margin-top: 30px;
}
.dialog-head {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 15px;
}
.dialog-head .title {
	overflow: hidden;
	font-size: 13px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dialog-head .left {
	margin-right: auto;
}
.dialog-head .right {
	margin-left: auto;
}
/* dialog-body */
.dialog-body {
	overflow-y: auto;
	flex: 1;
	max-height: 530px;
	padding: 20px;
}
.dialog-body img {
	max-height: none;
}
.dialog-body .sub-page {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	background-color: #f6f6f6;
}

.dialog-body .sub-page .content {
	flex: 1;
	max-width: calc(100% - 200px - 60px);
	margin: 30px 0 30px 30px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 1px 3px 10px 0 #cbcbcb;
}
.dialog-body .lnb {
	width: 200px;
	height: auto;
}
/* dialog-foot */
.dialog-foot {
	padding: 10px 20px 20px;
}
.dialog-foot .button-wrap {
	margin-top: 20px;
}
/* type */
.dialog[data-full] {
	width: 100%;
	height: 100vh;
	border-radius: 0;
}
.dialog[data-full] .dialog-body {
	max-height: none;
}
.dialog[data-alert] .button-wrap {
	margin-top: 20px;
}
/* animate */
.dialog[data-bottom] {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	transition: .2s;
	transform: translateY(100%);
}
.dialog[data-bottom].animate {
	transform: translateY(0);
}
.dialog[data-bottom] .dialog-head {
	margin-bottom: 25px;
}
.dialog[data-bottom] .dialog-body {
	max-height: 60vh;
}
