@charset "utf-8";
.heading:first-child {
	margin-top: 0 !important;
}
.heading:last-child {
	margin-bottom: 0 !important;
}
.heading {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.heading .title {
	flex: 1;
	font-weight: 700;
}
.heading .right {
	display: flex;
	align-items: center;
	margin-left: auto;

	gap: 5px;
}
.heading .right table {
	table-layout: auto;
	border-top: 0;
}
.heading .desc {
	width: 100%;
	margin-top: 6px;
}
/* depth01 */
.heading.depth01 {
	margin-top: 35px;
}
.heading.depth01 .title {
	padding-left: 25px;
	font-size: 30px;
	font-weight: 500;
	background: url("../../images/common/bg-heading.png") no-repeat 0 center;
}
/* depth02 */
.heading.depth02 {
	margin-top: 25px;
}
.heading.depth02 .title {
	font-size: 16px;
}


.group-payment {
	display: flex;
	justify-content: end;
}
.group-payment .table {
	width: 256px;
}
.heading-payment {
	align-items: start;
}

.heading-payment .right {
	flex-direction: column;
}
.heading-payment .controls {
	display: flex;
	align-items: end;
	justify-content: end;
	flex-direction: column;
	width: 100%;

	gap: 7px;
}
.heading-payment .controls .button-group {
	display: flex;

	gap: 4px;
}
.heading-payment .controls .button-group .button:not(.btn-payment-status) i {
	font-size: 16px;
}
.heading-payment .controls .button .fa-chevron-up {
	transition: transform .3s;
	transform: rotate(-180deg);
}
.heading-payment .controls .button.active .fa-chevron-up {
	transform: rotate(0);
}

.heading-payment .controls .table {
	margin-top: 0;
}
