@charset "utf-8";
.heading:first-child {
	margin-top: 0 !important;
}
.heading:last-child {
	margin-bottom: 0 !important;
}
.heading {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.heading .title {
	flex: 1;
	font-weight: 700;
}
.heading .right {
	display: flex;
	align-items: center;
	margin-left: auto;

	gap: 5px;
}
.heading .right table {
	border-top: 0;
}
.heading .desc {
	width: 100%;
	margin-top: 6px;
}
/* depth01 */
.heading.depth01 .title {
	padding-left: 25px;
	font-size: 30px;
	font-weight: 500;
	background: url("../../images/common/bg-heading.png") no-repeat 0 center;
}
/* depth02 */
.heading.depth02 {
	margin-top: 24px;
}
.heading.depth02 .title {
	font-size: 16px;
}
