@charset "utf-8";
/* pagination */
.pagination-wrap {
	position: relative;
	margin-top: 20px;
	text-align: center;
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5px;
}
.pagination .first,
.pagination .prev,
.pagination .next,
.pagination .last,
.pagination strong,
.pagination a {
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	color: #666;
	text-align: center;
	line-height: 30px;
}
.pagination button {
	cursor: pointer;
}
.pagination strong {
	color: #333;
}
.pagination .first,
.pagination .prev,
.pagination .next,
.pagination .last {
	background: red;
}
.pagination .first {
	background-position: 0 0;
}
.pagination .prev {
	margin-right: 10px;
	background-position: -34px 0;
}
.pagination .next {
	margin-left: 10px;
	background-position: -68px 0;
}
.pagination .last {
	background-position: -102px 0;
}
