@charset "utf-8";

/* tab-wrap */
.tab-wrap:first-child {
	margin-top: 0;
}
.tab-wrap {
	position: relative;
	z-index: 0;
}
/* tab-list */
.tab-list {
	position: relative;
	padding-left: 9px;
	border-bottom: 1px solid #0c8fd2;
}
.tab-list .right {
	position: absolute;
	top: 18px;
	right: 21px;
}
.tab-list ul {
	display: inline-flex;
	position: relative;
}
.tab-list li {
	white-space: nowrap;
}
.tab-list a {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 12px;
	font-weight: 700;
	text-align: center;
	line-height: 42px;

	gap: 22px;
}

.tab-list .active a {
	z-index: 1;
	color: #0c8fd2;
}
.tab-list .active a::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;
	height: 4px;
	background-color: #0c8fd2;
}
.tab-list li a:focus {
	z-index: 1;
}
.tab-list.scroll-x {
	scrollbar-width: none;
}
.tab-list.scroll-x::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}


/* tab-content */
.tab-content:first-child {
	display: block;
}
.tab-content {
	display: none;
}
.tab-content-inner {
	padding: 13px 10px;
}
.tab-content-inner .state-layer {
	padding-right: 0;
	padding-left: 0;
}
.tab-content-inner .full:first-child {
	margin-top: -24px;
}
