@charset "utf-8";
/* table */
.table:first-child {
	margin-top: 0;
}
.table {
	overflow: auto;
	position: relative;
	margin-top: 15px;
}
.table table {
	table-layout: fixed;
	border-top: 2px solid #0b90d3;
}
.table th,
.table td {
	vertical-align: middle;
	height: 38px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	font-size: 13px;
	text-align: center;
	word-break: break-all;
	background-color: #fff;
}
.table th {
	background-color: #ebf6fc;
}
.table td .desc:first-child {
	margin-top: 0;
}
.table td .desc {
	margin-top: 8px;
}
.table .align-left {
	padding-left: 15px;
}
/* table row */
.table.type-row td {
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
}
.table.type-row .table th,
.table.type-row .table td {
	padding: 5px;
	text-align: center;
}
.table.type-row .table .align-left {
	padding-left: 15px;
}
/* table all border */
.table.type-all-borde th,
.table.type-all-borde td {
	border: 1px solid #ddd;
}

/* scroll-wrap */
.scroll-wrap {
	overflow-y: scroll;
}

.table-sticky thead {
	position: sticky;
	top: 0;
}
.table-sticky thead::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #0b90d3;
}