@charset "utf-8";

/* table */
.table:first-child {
	margin-top: 0;
}
.table {
	position: relative;
	margin-top: 12px;
}
.table table {
	table-layout: fixed;
	border-top: 2px solid #0b90d3;
}
.table th,
.table td {
	vertical-align: middle;
	height: 38px;
	padding: 4px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	word-break: break-all;
	background-color: #fff;
	font-size: 13px;
}
.table th {
	background-color: #ebf6fc;
}
.table td .desc:first-child {
	margin-top: 0;
}
.table td .desc {
	margin-top: 8px;
}

/* table row */
.table.type-row td {
	text-align: left;
	padding-left:15px;
	padding-right: 15px;
}

/* table all border */
.table.type-all-borde th,
.table.type-all-borde td {
	border: 1px solid #ddd;
}